{% extends "auctions/layout.html" %}

{% block body %}

<div class="container mt-4">
    {% for category in categories %}
    <div class="row">
        <div class="col-6 mx-auto mt-3">
            <div id="category_container" class="rounded p-3 text-center">
                <a href="{% url 'show_category_auctions' category_name=category.name %}">
                    <h1>{{category.name}}</h1>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
