{% extends "auctions/layout.html" %}

{% block title %} Create listing {% endblock %}

{% block body %}
<div class="container">
  <div class="mx-auto" style="max-width: 752px;">
    {% if error %}
    <div class="mx-auto mt-3 mb-0 alert alert-danger alert-dismissible fade show" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {{ eror }}
    </div>
    {% endif %}

    <h4 class="mt-5">Complete the product information</h4>

    <div class="mt-4">
      <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}

        <div class="mx-auto rounded input-container">
          <label>Title</label>
          <p>Include product, brand, model and highlight its main characteristics.</p>
          <hr>
          <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title" required />
          </div>
        </div>

        <div class="mx-auto rounded input-container">
          <label>Description</label>
          <p>Detail the main characteristics of your product.</p>
          <hr>
          <div class="form-group">
            <textarea class="form-control" style="height: 180px;" type="text" name="description"
              placeholder="Description" required></textarea>
          </div>
        </div>

        <div class="mx-auto rounded input-container">
          <label>Category</label>
          <p>Select from the category list to make your acution easier to find</p>
          <hr>
          <div class="form-group">
            <select class="form-control" name="category" required>
              <option selected disabled>Select a Category</option>
              {% for category in categories %}
              <option value="{{category.name}}">{{category.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="mx-auto rounded input-container">
          <label>Image</label>
          <p>Upload a good photo so that the product stands out.</p>
          <hr>
          <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Image URL" />
          </div>
        </div>

        <div class="mx-auto rounded input-container">
          <label>Price</label>
          <p>Indicate how much you want to sell the product for.</p>
          <hr>
          <div class="input-group">
            <div class="input-group-text">$</div>
            <input class="form-control" type="number" name="price" placeholder="Price" required />
          </div>
        </div>

        <div class="mb-5 d-flex justify-content-end">
          <button id="create-listing-button" class="btn btn-primary mt-2" type="submit">Create Listing</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
