{% extends "auctions/layout.html" %}

{% block title %} Categories {% endblock %}

{% block body %}
<div class="container">
    <h2 class="mt-5 mb-4">{{category}}</h2>
    <hr>
    <div class="row">
      {% for auction in auctions %}
      <div class="col-12">
        <div class="auction_container">
          <div class="auction_image">
            {% if auction.image%}
            <img src="{{ auction.image }}" class="" width=100 alt="Auction Image">
            {% else %}
            <i class="bi bi-card-image"></i>
            {% endif %}
          </div>
          <div class="p-4">
            <a class="auction_title" href="{% url 'show_listing' auction_id=auction.id%}">
              {{ auction.title }}
            </a>
            <div class="auction_price">$ {{ auction.current_bid }}</div>
            <div class="auction-info">
              <div>Starting Bid: $ {{ auction.price }}</div>
              <div>Number of Bids: {{ auction.total_bids }}</div>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <h2 class="mt-5 mb-4">There are no listings for {{category}}!</h2>
      {% endfor %}
    </div>
  </div>
{% endblock %}
